<% if @viewing.errors.any? %>
  <div class="errors">
    <h3><%= pluralize(@viewing.errors.count, 'error') %>
      prohibited this viewing from being saved:
    </h3>
    <ul>
      <% @viewing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
