<div class="main-form">
  <fieldset>
    <h3>Viewing Confirmation</h3>

    <p> <%= @viewing.user.user_info %> your viewing is confirmed for the
      <%= @room.name %> on:
      <br>
      <br>
      <%= @viewing.start_time.strftime('%e %b %Y %H:%M%p') %>
      until
      <%= (@viewing.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
  </fieldset>
</div>
