<body>
  <h1>Contact Us</h1>
  <p>
    <br>
    If you have any queries, or are interested in any of our rooms, please get in touch with us on <strong> 0116 555 54321 </strong>
    <br><br>
    We can also be contacted by email at <strong> enquiries@meadowview.com </strong>
  </p>
</body>
