<body>
<div class="contact-details">
  <h1>Contact Us</h1>
  <p>
    <br>
    If you have any queries, or are interested in any of our rooms, please get in touch with us on <strong> 0116 555 54321 </strong>
    <br><br>
    We can also be contacted by email at <strong> enquiries@meadowview.co.uk </strong>
		<br><br>
		If you have an account you can make an enquiry using our form system, if not sign up or send us an email:
		<br><br>
		<% if not user_signed_in? %>
			<%= link_to "Sign up", new_user_registration_path %>
		<% end %>
		<% if current_user %>
			<%= render 'enquiries/form', enquiry: @enquiry %>
		<% end %>

		<% if current_user && current_user.admin? %>
			<%= link_to 'Show all enquiries', enquiries_path %>
		<% end %>
  </p>
</div>
</body>
<!--
might look at refactoring eventually.
Since it is a user that is signed in,
you could have a User has-many :inquiries and an Inquiry belongs_to a user.
This is where accepts_nested_attributes comes into play,
then you are using resourced routes, nested forms, etc
-->
