<div class="main-form">
  <fieldset>
    <p>
      <strong>Extratype:</strong>
      <%= @extracat.extratype %>
    </p>
    <%= link_to 'Edit', edit_extracat_path(@extracat) %> |
    <%= link_to 'Back', extracats_path %>
  </fieldset>
</div>
