/* 'borders' can be displayed if the 's' is removed to make a valid CSS selector
	styles used on main product page 'products/index.html.erb'
*/

#all-content {
	widths: 80em;
	margin-left: 4.5%;
	margin-rights: auto;
	font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
	font-size: 0.8em;
	borders: 0.1em solid black;
}

#product-box {
	width: 29em;
	height: 15em;
	padding-top: 1em;
	padding-left: 1em;
	float: left;
	borders: 0.1em solid brown;
}

#img-box {
	width: 7.5em;
	height: 9em;
	float: left;
	borders: 0.2em solid purple;
  padding-top: 1.5em;
}

#details-box {
	width: 12em;
	height: 12em;
	padding-left:  1em;
	padding-top: 1em;
	float: left;
	borders: 0.2em solid crimson;
}

#title-box {
	padding-top: 0.3em;
  padding-bottom: 0.2em;
	font-size: 1.5em;
	font-weight:bold;
	borders: 0.1em solid DarkGray;
}

#rmtype {
	padding-top: 0.4em;
	font-size: 1.1em;
	borders: 0.1em solid DarkGray;
}

#admin-box {
	padding-top: 0.3em;
	font-size: 1em;
	borders: 0.1em solid orange;
}


#capacity {
  padding-top: 0.3em;
  font-size: 1.1em;
  borders: 0.1em solid orange;
}

#pagination {
	width: 73.5em;
	float: left;
	padding-top: 0.3em;
	text-align: center;
	font-size: 1em;
	borders: 0.1em solid DarkGray;
}

#size-box {
	padding-top: 0.4em;
	font-size: 1.1em;
	xborder: 0.1em solid DarkGray;
  width: 20em;
}

#price-box {
  padding-top: 0.3em;
  font-size: 1.1em;
  borders: 0.1em solid orange;
 }
