// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
    padding-top: 0;
}

.title
{
    /*border: solid;*/
    margin-top: 4px;
    margin-left: 35%;
}
#main-div
{
    position: absolute;
    left: 50%;
    /* the combined width of three divs, margins and padding ...
		use this value to display all three divs beside each other */

    width: 79em;
    min-height: 100%;
    /* to center the div use the commands below ...
		a margin of half the combined width, position set to 'absolute'
		and left: 50% */
    margin-left: -40em;

    background-color: #e6e6d0;
    /*border: solid blue;*/
}

.login
{
    float: right;
}
