/* for usage see 'products/show.html.erb' */

#all-details {
	width: 35em;
	/* left right margins set to auto to centre div */
	/* margins top right bottom left */
	margin: 0.5em 0em 0em 20em;
	padding: 1em 0em 1em 1em;
	font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
	font-weight: normal;
	borders: 0.1em solid red;
}

#show-img {
	width: 12em;
	float: left;
	/* margins top right bottom left */
	margin: 0em 0em 0em 2em;
	padding: 0em 0em 0em 0em;
	/*  takes the width of the image */
	font-familys: serif;
	borders: 0.1em solid blue;
}

#description {
	width: 14.5em;
	max-height:20em;
	overflow: auto;
	float: left;
	margin: 1em 0em 0em 0em;
	padding: 0em 0em 0em 1em;
	font-style: italic;
	line-height: 1.1em;
	word-wrap: break-word;
	color: black;
	borders: 0.1em solid black;
}

.sub-title{
	font-weight:bold;
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 1.5em;
	margin-bottom: 0.2em;
	borders: 0.1em solid red;
  padding: 0.8em;

}
